Mako==1.1.5
matplotlib<=3.3.0; python_version=="3.6"
matplotlib; python_version>"3.6"
numpy==1.18.1; python_version=="3.6"
numpy; python_version>"3.6"
Pillow==8.0.1; python_version=="3.6"
Pillow; python_version>"3.6"
PyQt6
git+https://github.com/EPC-MSU/epcore@dev-0.2#egg=epcore
git+https://github.com/EPC-MSU/ivviewer@t-96516#egg=ivviewer