html {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

div, p {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

h1 {
	font-family: 'Amarante', Tahoma, sans-serif;
	font-weight: 500;
	font-size: 4.0em;
	line-height: 1.7em;
	margin: 0;
	padding: 0;
	text-align: center;
}

h2 {
	font-family: 'Amarante', Tahoma, sans-serif;
	font-size: 2.0em;
	font-weight: 500;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	text-align: center;
}

#wrapper {
	background: #fff;
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	width: 1100px;
}

#general_info {
	color: #666666;
	font-size: 1.2em;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
}

#general_info tr, th {
	border: 1px solid black;
	font-weight: bold;
	padding: 0;
}

#general_info tbody tr td {
	border: 1px solid black;
	font-weight: normal;
	padding: 0;
	vertical-align: middle;
}

#general_info tbody tr td.align_left {
	padding: 15px 10px;
	text-align: left;
}

#report {
	color: #666666;
	font-size: 1.2em;
	margin: 0 auto;
	width: 100%;
}

#report thead tr th {
	background: #c9dff0;
	color: black;
	font-weight: bold;
	padding: 12px 30px;
}

#report tbody tr td {
	border: 1px solid black;
	padding: 5px 10px;
	text-align: center;
	vertical-align: middle;
}

#report tbody tr td.element_name {
	background-color: #fffdd0;
	margin: 0;
	padding: 0;
}

#report tbody tr td.align_left {
	text-align: left;
}

.collapsible {
	background-color: #eee;
	border: none;
	color: #666666;
	cursor: pointer;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	outline: none;
	padding: 0;
	text-align: left;
}

.active, .collapsible:hover {
	background-color: #ccc;
}

.hidden_options {
	background-color: #f1f1f1;
	display: none;
	overflow: hidden;
	padding: 0 18px;
}

.column_name {
	width: 30%;
}

.column_image {
	width: 35%;
}

.column_plot {
	width: 35%;
}

.img_pin {
	position: relative;
	z-index: 0;
}

.img_pin:hover {
	background-color: transparent;
	z-index: 50;
}

.img_pin span {
	left: 0;
	padding: 1px;
	position: fixed;
	top: 0;
	visibility: hidden;
	text-decoration: none;
}

.img_pin:hover span {
	visibility: visible;
}

.pin {
	background-color: red;
	border: 0px solid red;
	border-radius: 50%;
	height: 4px;
	position: absolute;
	width: 4px;
	z-index: 60;
}